body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: bisque;
    font-family: "JetBrains Mono", monospace;
}

header{
    text-align: center;
    margin-bottom: 15px;
}

header h1{
    margin-top: 10px;
}

#content{
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;;
}

button{
    margin-top: 40%;
    padding: 10px;
    background-color: white;
    border: 2px solid saddlebrown;
    color: saddlebrown;
    border-radius: 20px;
}

.flip-card{
    background-color: antiquewhite;
    width: 500px;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner{
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.flip-card-back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
}