body{
    background: #FFFDEE;
     color: #82827B;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

body a{
    text-decoration: none; 
}

h1{
    color: #B49E6E;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
    text-align: center;
    padding-top: 2%;;
}

h2{
    color: #B49E6E;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
    padding-top: -15%;
    padding-left: 3%;
    padding-right: 3%;
}

article{
    background: #FDFDFD;
    box-shadow: 4px 10px 26.3px 0px rgba(59, 67, 69, 0.25);
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
    margin-bottom:5%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    padding-top:5%;
    border-top:none;
    border-radius: 27px;
    background: #FFF;
    box-shadow: 0 0 7.2px 2px rgba(145, 132, 111, 0.25);
}

p {
    padding-top: -1%;
    padding-left: 3%;
    padding-right: 3%;
}



